.aside-container {
    display: flex;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    background: #B679F2;
    border-radius: 20px;
  }
  
  
  .label{
    color:  rgb(36, 35, 35);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    float: left;
    margin-left: 35px;
    margin-top: 0px;
  }
  
  .select {
    color: #3D0C3C;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    background-color: #B679F2;
    padding: 9px;
    border: solid 1px;
    border-color: #3D0C3C;
    border-radius: 5px;
    /* float: left; */
    margin-left: 25px;
  }
  
  .options {
    color: #3D0C3C;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background-color: #B679F2;
  }
  
  .btn-reload {
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    color: #3D0C3C;
    /* background: #4ca737; */
    margin-left: 20px;
    cursor: pointer;
    padding: 8px;
    transition: 0.3s ease-in-out;
    border: 0.1rem solid rgb(246, 246, 246);
    border-radius:  2rem;
    box-shadow: 
      0 0 .2rem rgb(0, 0, 0),
      0 0 .2rem #fff,
      0 0 0.2rem #2fff00,
      0 0 0.8rem #bc13fe,
      0 0 2.8rem #2fff00,
      inset 0 0 1.3rem #bc13fe;
    
  }
  
  .btn-reload:hover{
    color: #ffff;
    text-shadow: -0.2rem -0.2rem 1rem rgb(255, 0, 0), 0.2rem 0.2rem 1rem #B679F2,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem rgb(255, 255, 255), inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }